crewai[tools]
yfinance
langchain
langchain-community
langchain-openai
chromadb
openai
tiktoken
beautifulsoup4
requests
python-dotenv
streamlit
langchain-text-splitters
sounddevice
scipy
pydub
openai-whisper
piper
soundfile
resampy
google-generativeai
gtts
streamlit-webrtc
