crewai[tools]
yfinance
langchain
langchain-community
langchain-openai
langchain-text-splitters
chromadb
tiktoken
beautifulsoup4
requests
python-dotenv
streamlit
streamlit-webrtc
soundfile
resampy
pydub
scipy
sounddevice
gTTS
google-generativeai
pysqlite3-binary
pydub
streamlit_audio_recorder
