yfinance
langchain>=0.3.0
langchain-community>=0.3.0
langchain-openai>=0.3.9
chromadb
openai
tiktoken>=0.7.0
beautifulsoup4
requests
python-dotenv
streamlit
langchain-text-splitters
sounddevice
scipy
pydub
openai-whisper
